.header{
  display: flex;
  align-items: center;
}

.header__logo{
  max-width: 200px;
}

.header__menu{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.header__controls{
  margin-left: 20px;
}
